.main-chatcontent {
  flex-grow: 1;
  padding: 20px 40px;
  width: 800px;
}
.content-header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebe7fb;
}
.current-chatting-user {
  display: flex;
  align-items: center;
}
.current-chatting-user p {
  margin: 0;
  font-weight: 600;
}
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-body {
  max-height: 430px;
  overflow: auto;
}

.chat-item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.88, 0.19, 0.37, 1.11);
  animation-fill-mode: both;
  animation-delay: 0.2s;
}
@keyframes showIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.chat-item .avatar {
  margin-right: 0px;
  margin-left: 20px;
  background: #fff;
  padding: 1px;
}
.chat-item-content {
  background-color: #64495c;
  color: #fff;
  padding: 15px;
  border-radius: 10px 10px 0 10px;
  max-width: 50%;
  min-width: 215px;
}
.chat-item-content .chat-meta {
  justify-content: space-between;
  display: flex;
  margin-top: 10px;
  align-items: right;
}
.chat-item-content .chat-meta span {
  font-size: 10px;
  color: #d1d1d1;
  user-select: none;
}
.chat-msg {
  user-select: none;
}

.chat-item.other {
  flex-direction: row-reverse;
  transform-origin: left;
}
.chat-item.other .chat-item-content {
  background-color: #d1d1d1;
  color: #000;
  border-radius: 10px 10px 10px 0;
  max-width: 50%;
}
.chat-item.other .avatar {
  margin-right: 20px;
  margin-left: 0px;
}
.chat-item.other .chat-item-content .chat-meta span {
  color: #fff;
}
.content-footer {
  padding-top: 30px;
}
.sendNewMessage {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}
.sendNewMessage button {
  width: 36px;
  height: 36px;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #64495c;
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
  border-radius: 50px;
}
.sendNewMessage button:hover {
  transform: scale(1.2);
}
.sendNewMessage button i {
  display: block;
}
.sendNewMessage input {
  flex-grow: 1;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
}
#sendMsgBtn {
  background-color: #64495c;
  color: #fff;
  border-radius: 50px;
}
